In [1]:
import pandas as pd

In [2]:
path_to_file=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-karamnov-39/2_bookings (1).csv', sep=(';'))

In [3]:
print(path_to_file.head())

          Hotel  Is Canceled  Lead Time arrival full date  Arrival Date Year  \
0  Resort Hotel            0        342        2015-07-01               2015
1  Resort Hotel            0        737        2015-07-01               2015
2  Resort Hotel            0          7        2015-07-01               2015
3  Resort Hotel            0         13        2015-07-01               2015
4  Resort Hotel            0         14        2015-07-01               2015

  Arrival Date Month  Arrival Date Week Number  Arrival Date Day of Month  \
0               July                        27                          1
1               July                        27                          1
2               July                        27                          1
3               July                        27                          1
4               July                        27                          1

   Stays in Weekend nights  Stays in week nights  ...  Adults  Children  \
0                        0                     0  ...       2       0.0
1                        0                     0  ...       2       0.0
2                        0                     1  ...       1       0.0
3                        0                     1  ...       1       0.0
4                        0                     2  ...       2       0.0

   Babies  Meal Country Reserved Room Type Assigned room type customer type  \
0       0    BB     PRT                  C                  C     Transient
1       0    BB     PRT                  C                  C     Transient
2       0    BB     GBR                  A                  C     Transient
3       0    BB     GBR                  A                  A     Transient
4       0    BB     GBR                  A                  A     Transient

  Reservation Status Reservation status_date
0          Check-Out              2015-07-01
1          Check-Out              2015-07-01
2          Check-Out              2015-07-02
3          Check-Out              2015-07-02
4          Check-Out              2015-07-03

[5 rows x 21 columns]

In [4]:
path_to_file.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
list(path_to_file)

['Hotel',
 'Is Canceled',
 'Lead Time',
 'arrival full date',
 'Arrival Date Year',
 'Arrival Date Month',
 'Arrival Date Week Number',
 'Arrival Date Day of Month',
 'Stays in Weekend nights',
 'Stays in week nights',
 'stays total nights',
 'Adults',
 'Children',
 'Babies',
 'Meal',
 'Country',
 'Reserved Room Type',
 'Assigned room type',
 'customer type',
 'Reservation Status',
 'Reservation status_date']

In [6]:
path_to_file.columns = path_to_file.columns.str.replace(' ', '_')
path_to_file.columns=path_to_file.columns.str.lower()

In [7]:
path_to_file

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

💀 Сложное задание! 💀

Перейдем к исследованию данных! Пользователи из каких стран совершили наибольшее число успешных бронирований? Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled). В качестве ответа выберите страны, входящие в топ-5

In [8]:
path_to_file.nunique()

hotel                          2
is_canceled                    2
lead_time                    479
arrival_full_date            793
arrival_date_year              3
arrival_date_month            12
arrival_date_week_number      53
arrival_date_day_of_month     31
stays_in_weekend_nights       17
stays_in_week_nights          35
stays_total_nights            45
adults                        14
children                       5
babies                         5
meal                           5
country                      177
reserved_room_type            10
assigned_room_type            12
customer_type                  4
reservation_status             3
reservation_status_date      926
dtype: int64

In [9]:
rezult=path_to_file.query('is_canceled == 0')\
                    .value_counts('country')

In [10]:
rezult

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
MRT        1
MMR        1
MLI        1
MDG        1
PLW        1
Length: 165, dtype: int64

На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

In [11]:
naith_sum=path_to_file.groupby('hotel').agg({'stays_total_nights': 'mean'}).round(2)

In [12]:
naith_sum

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

In [13]:
nomer_hostel=path_to_file.query('assigned_room_type != reserved_room_type')

In [14]:
nomer_hostel.shape

(14917, 21)

Теперь проанализируйте даты запланированного прибытия (arrival_date_year).

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [4]:
canseled_mounth=path_to_file.query('is_canceled != 0')\
                            .groupby('arrival_date_year')['arrival_date_month'].value_counts()

In [16]:
canseled_mounth

arrival_date_year  arrival_date_month
2015               September             2094
                   October               1732
                   August                1598
                   July                  1259
                   December               973
                   November               486
2016               October               2514
                   June                  2096
                   April                 2061
                   September             2022
                   May                   1915
                   August                1825
                   November              1636
                   July                  1499
                   March                 1477
                   December              1398
                   February              1337
                   January                557
2017               May                   2762
                   April                 2463
                   June                  2439
                   July                  1984
                   August                1816
                   March                 1672
                   February              1359
                   January               1250
Name: arrival_date_month, dtype: int64

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

Hint: для этого сначала примените метод groupby, после чего выберите нужную колонку для дальнейших действий :)
Например:

df.groupby('column_1')['column_2'].what_to_do()

In [17]:
cancellation=path_to_file.query('hotel == City Hotel' and 'is_canceled == 0')\
                            .groupby('arrival_date_year')['arrival_date_month'].value_counts()

In [18]:
cancellation

arrival_date_year  arrival_date_month
2015               October               3225
                   September             3020
                   August                2291
                   December              1947
                   November              1854
                   July                  1517
2016               October               3689
                   May                   3563
                   September             3372
                   April                 3367
                   March                 3347
                   August                3238
                   June                  3196
                   July                  3073
                   November              2818
                   February              2554
                   December              2462
                   January               1691
2017               May                   3551
                   July                  3329
                   March                 3298
                   June                  3208
                   April                 3198
                   August                3109
                   February              2818
                   January               2431
Name: arrival_date_month, dtype: int64

In [19]:
path_to_file.groupby(['arrival_date_year','arrival_date_month']).is_canceled.sum()

arrival_date_year  arrival_date_month
2015               August                1598
                   December               973
                   July                  1259
                   November               486
                   October               1732
                   September             2094
2016               April                 2061
                   August                1825
                   December              1398
                   February              1337
                   January                557
                   July                  1499
                   June                  2096
                   March                 1477
                   May                   1915
                   November              1636
                   October               2514
                   September             2022
2017               April                 2463
                   August                1816
                   February              1359
                   January               1250
                   July                  1984
                   June                  2439
                   March                 1672
                   May                   2762
Name: is_canceled, dtype: int64

Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [38]:
path_to_file[['adults','children','babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [39]:
path_to_file

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

City hotel – отель находится в городе
Resort hotel – отель курортный
В качестве ответа укажите наибольшее среднее total_kids, округлив до 2 знаков после точки.

In [5]:
path_to_file['total_kids']=path_to_file.children + path_to_file.babies

In [56]:
path_to_file

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06,0.0
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07,0.0
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07,0.0
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07,0.0
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07,0.0

In [57]:
path_to_file.groupby('hotel').agg({'total_kids': 'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

💀 Сложное задание! 💀

Не все бронирования завершились успешно (is_canceled), поэтому можно посчитать, сколько клиентов было потеряно в процессе. Иными словами, посчитать метрику под названием Churn Rate.

Churn rate (отток, коэффициент оттока) – это процент подписчиков (например, на push-уведомления от сайта), которые отписались от канала коммуникации, отказались от услуг сервиса в течение определенного периода времени. Иными словами, представляет собой отношение количества ушедших пользователей к общему количеству пользователей, выраженное в процентах.

В нашем случае Churn Rate - это процент клиентов, которые отменили бронирование. Давайте посмотрим, как эта метрика связана с наличием детей у клиентов!

Создайте колонку has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше. 

В качестве ответа укажите наибольший % оттока, округленный до 2 знаков после точки (то есть доля 0.24563 будет 24.56% и в ответ пойдёт 24.56)

In [8]:
path_to_file['has_kids']=path_to_file['total_kids'] ==0
wiz_kids=path_to_file.query('has_kids==True')
wiz_kids_cansild=wiz_kids.query('is_canceled == 1')
churn_rate=wiz_kids_cansild.shape[0] / wiz_kids.shape[0]*100
churn_rate=round(churn_rate, 2)

In [9]:
churn_rate

37.22

In [16]:
for i in path_to_file.shape:
    print(i)
df_shape.format('df has {i} rows and {i} columns')

119390
21

In [17]:
df_shape.format('df has {i} rows and {i} columns')

NameError: name 'df_shape' is not defined

In [18]:
for i in df.shape:
    print(i)
df_shape= format('df has {i} rows and {i} columns')

NameError: name 'df' is not defined

In [ ]:
df=df.drop(columns=['sex ', 'age '])